<link rel="stylesheet" type="text/css" href="css/surveyStyle.css">

<!-- Header -->
<header id="header" class="alt">
    <h1 id="logo"><a href="index.html">Tell <span>Target</span></a></h1>
    <nav id="nav">

    </nav>
</header>


<!-- Banner -->
<section id="banner">


<div id="lightbox"></div>
<div id="lb-content">
     <span id="lb-close">x</span>
    <p>Thank you. Your vote counts!</p>        
</div>

		<script>
				$(document).ready(function() {
			    var target = $('.polar-polls');
			    var lastVote;
			    var polarOptions = {
              pollId: {{id}},
			        publisher: 'nicolenetland',
			        callbacks: {
			            vote: function(data) {
			                // this fires on both voting and unvoting actions
			                // data.pollID
			                // data.choice (1,2, etc)
			                if (lastVote !== data.choice) {
			                    //alert("Your vote counts! Thanks");
			                    var lightBox = $('#lightbox'),
								lightBoxContent = $('#lb-content');

									var positionLightbox = function() {
									    var veiwWidth = $(window).width(),
									        lbContentMargin = (veiwWidth / 2) - 148,
									        lbContent = $('#lb-content');

									    lbContent.css({
									        'left' : lbContentMargin,
									      //  'top' : $(window).scrollTop() + 50 + 'px'
									    });
									};


									    lightBox.fadeIn(function() {
									        lightBoxContent.slideDown('fast');                               
									    });
									    positionLightbox();


									$('#lb-close').click(function() {
									    lightBox.hide();
									    lightBoxContent.hide();
									});
			                }

			                lastVote = polar.userVotes[{{id}}] ? polar.userVotes[{{id}}].choice : -1;
			            },
			            loaded: function(data) {
			                // when the survey loads onto the page
			                // data.app = EmbeddedPollsApp
			                lastVote = polar.userVotes[{{id}}] ? polar.userVotes[{{id}}].choice : -1;

			                data.app.voteActionManager.voteActionForVote = function(poll, vote) {
			                    var action = VoteActionManager.prototype.voteActionForVote.call(this, poll, vote);
			                    return (action.action == "share") ? null : action;
			                }
			            },
			            navigate: function(data) {
			                // (PollSet and if there are multiple polls to navigate) this fires when the question transitions; both with navigation and when answering a question
			                // data.direction ('next', 'previous')
			                // data.currentPollID
			                // data.nextPollID
			            },
			            lastPoll: function () {
			                // (PollSet and if there are multiple polls to navigate)
			                // this only fires when the controls are engaged, not when answering questions
			            }
			        }
			    };

			    //Instantiate new EmbeddedPollsApp showing a single Poll by ID
			    var polar = new EmbeddedPollsApp(target, polarOptions);

			    polar.init();
});
</script>
<div id="centerPolls">
<div class="polar-polls" ></div></div>

</section>
